@font-face {
  font-family: "Pooh";
  src: url("../resources/fonts/pooh.ttf");
}

.footer {
  position: absolute;
  bottom: 0;
  margin:0px;
  width: 100%;
  height: 60px;
  color: #E5E5E5;
  background-color: #14213D !important;
}

#content {
  padding-bottom: 60px;   
  padding-top: 60px;    
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #e5e5e5;
}

nav {
  font-family: "Pooh";
  color: #FCA311 !important;
  background-color: #14213D !important;
}

a.nav-link, #footer-link {
  color: #E5E5E5;
  transition: 0.3s;
}

a.nav-link.active {
  color: #FCA311;
}

a.nav-link:hover, #footer-link:hover {
  color: #FCA311;
}

li.dropdown {
  list-style: none;
}

div.dropdown-menu.show {
  background-color: #14213D !important;
}

a.dropdown-item {
  color: white !important;
}

a.dropdown-item.active {
  color: #FCA311 !important;
  background-color: #14213D !important;
}

a.dropdown-item:hover {
  color: #FCA311 !important;
  background-color: #14213D !important;
}

