{% extends "base.html.twig" %}

{% block title %}
  Contact created
{% endblock %}

{% block content %}
  <div class="container jumbotron text-center">
    <h5>Contact deleted successfully!</h5>
    <a class="btn btn-primary" type="button" href={{ path('home') }}>Go back</a>
  </div>
{% endblock %}