{% extends "base.html.twig" %}

{% block title %}
  Contact created
{% endblock %}

{% block content %}
  <h5 class="jumbotron text-center">New contact created successfully!</h5>
  <button class="btn btn-primary" type="button" onClick="window.history.back();">Go back</button>
{% endblock %}